<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/enigmize.css" />
    <title>Enigmize</title>
  </head>
  
  <body>
    
    <h1><a href="/">Enigmize™</a> &nbsp; <%= @email %> との秘密通信</h1>
    
    <ul>
      <li>
	<b>このページを使って 暗号化したファイルを <span class="email"><%= @email %></span> に安全に送ることができます</b>
      </li>
      <li><span class="email"><%= @email %></span>の暗号化鍵
	<a href="/<%= @timestamp %>.enigmizer" download="<%= @timestamp %>.enigmizer"
	   ><span id='key_timestamp'><%= @timestamp == '' ? '' : "(#{@timestamp}.enigmizer)" %></span></a>
      </li>
      <pre id="publickey">
      </pre>
      <li>
	このページにファイルをDrag&amp;Dropすると
	<span class="email"><%= @email %></span> の<b>暗号化鍵</b> (enigmizer)で暗号化されて
	「<span class="code">ファイル名.enigma</span>」という名前の <b>謎ファイル</b> が生成され、
	メールで <span class="email"><%= @email %></span> に送ることができます
      </li>
      <li>
	メールで送らない場合は謎ファイルをローカルマシンに保存できます
      </li>
      <li>
	謎ファイルは暗号化されたデータを含むZipファイルです
      </li>
      <li>
	<span class="email"><%= @email %></span> に送った謎ファイルは <span class="email"><%= @email %></span> が持っている
	<b>復号鍵</b> (denigmizer)でしか復号できません
      </li>
      <li>
	謎ファイルをこのページに Drag&amp;Drop してから復号鍵を指定すると
	もとのファイルを復元することができます
      </li>
    </ul>
    <ul>
      <!-- MAIL VERSION -->
      <li id='create_keys_after_mail' style='visibility:hidden;'>
	<input type='button' id='sendcode' value='鍵生成コードをメールで <%= @email %> に送付' /> し、 
	受け取ったコード <input type='text' id='code' placeholder='123456' style="width:8em" /> を入力して
	<input type='button' id='generatekeys' value='鍵生成ボタン' /> を押すと新しい暗号化鍵と復号鍵のペアを生成できます
      </li>
      <li id='create_keys' style='visibility:hidden;'>
	<input type='button' id='generatekeys' value='鍵生成ボタン' /> を押すと暗号化鍵と復号鍵のペアを生成できます
      </li>
      <li>
	<span class="email"><%= @email %></span> の暗号化鍵は <a href="/">Enigmize.com™</a> に登録され、
	復号鍵ファイルは <span class="email"><%= @email %></span> がローカルに保存します
      </li>
    </ul>
    <ul>
      <li>
	<b>鍵の生成、ファイルの暗号化や復号はすべてブラウザ内で行なわれ、
	秘密情報がサーバに送られることはありません</b>
      </li>
      <li>
	公開鍵暗号アルゴリズムでは公開鍵と秘密鍵のペアを利用しますが、
	<a href="http://enigmize.com/">Enigmize™</a>では公開鍵を暗号化に/秘密鍵を復号に利用するので
	これらを暗号化鍵/復号鍵と呼んでいます
      </li>
    </ul>

    <script type="text/javascript">
      const email = "<%= @name %>@<%= @domain %>";
      const key_timestamp = "<%= @timestamp == '' ? '' : @timestamp %>";
    </script>
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
    
  </body>
</html>

