<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/enigmize2.css" />
    <title>Enigmize</title>
  </head>
  
  <body>
    
    <h1><a href="/">Enigmize</a> &nbsp; - &nbsp; <%= @email %> との暗号化通信</h1>

    <div style="margin:0 0 0 40px;width:50%;height:200;background-color:#fff;border:inset;">
      <ul>
	<li>
	  暗号化したいファイルをここにDrag & Dropすると
	  <%= @email %> のために暗号化されたデータ (enigmizeファイル) が生成されます。
	</li>
	<li>
	  暗号化には <a href="<%= @email %>.ink"><%= @email %> の暗号化鍵</a>が使われます。
	</li>
	<li>
	  <%= @email %> の暗号化鍵で暗号化したデータは
	  <%= @email %> が持っている復号鍵でしか解読できません。
	</li>
      </ul>
    </div>

    <ul>
      <li>
	<a href="/">Enigmize解説</a>
      </li>
    </ul>
    
  </body>
</html>


