<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/enigmize2.css" />
    <style type="text/css">
     li {
        padding: 0;
     }
    </style>
    <title>Enigmize</title>
  </head>
  
  <body style="background-color:#f3f3f3;">
    
    <h1><a href="/">Enigmize</a> &nbsp; - &nbsp; <%= @email %> との暗号化通信</h1>

    <ul>
      <li>
	このページを使って <%= @email %> に安全にデータを送ることができます
      </li>
      <li>
	公開鍵暗号アルゴリズムを利用するので、 <%= @email %> は自分の公開鍵と秘密鍵を登録しておく必要があります
      <li id='create_keys_after_mail'>
	<input type='button' id='sendcode' value='鍵生成コードをメールで <%= @email %> に送付' /> し、 
	受け取ったコード <input type='text' id='code' placeholder='123456' style="width:8em" /> を入力して
	<input type='button' id='generatekeys_after_mail' value='鍵生成ボタン' /> を押すと新しい暗号化鍵と復号鍵のペアを生成できます
      </li>
    </ul>

    <div style="margin:0 0 0 40px;width:50%;height:240;background-color:#fff;border:inset;">
      <ul style="margin: 0 0 0 0; padding:5 20 0 25;">
	<li style="margin: 0 0 0 0; padding:0;">
	  ファイルをここにDrag & Dropすると
	  <a href="<%= @email %>.ink"><%= @email %> の公開鍵</a>で暗号化されて
	  enigmaファイルが生成されます。
	  <!--
	  <%= @email %> のために暗号化されたデータ (enigmaファイル) が生成されます。
	  -->
	</li>
	<!--
	<li>
	  暗号化には <a href="<%= @email %>.ink"><%= @email %> の暗号化鍵</a>が使われます。
	</li>
	-->
      </ul>
      <ul style="margin: 0 0 0 0; padding:25 20 0 25;">
	<li>
	  enigmaファイルをここにDrag & Dropして
	  <%= @email %> の秘密鍵を指定するとデータを復元できます。
	</li>
      </ul>

      <ul style="margin: 0 0 0 0; padding:25 20 0 25;">
	<li>
	  <%= @email %> の公開鍵で暗号化したenigmaファイルは
	  <%= @email %> の秘密鍵でしか復元できません。
	</li>
      </ul>
    </div>

    <ul>
      <li>
	<a href="/">Enigmize解説</a>
      </li>
    </ul>
    
  </body>
</html>


