<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/enigmize.css" />
    <title>Enigmize</title>
  </head>
  
  <body>
    
    <h1><%= @email %> との秘密通信</h1>
    
    <ul>
      <li>
	<b>このページを使って <%= @email %> に安全にファイルを送ることができます</b>
      </li>
      <li><%= @email %>の公開鍵</li>
      <pre id="publickey">
      </pre>
      <li>
	このページにファイルをDrag&amp;Dropすると
	<%= @email %> の<b>公開鍵</b>で暗号化されて
	「<b><code>ファイル名.日付.enigma</code></b>」という名前の <b>謎ファイル</b> が生成され、
	メールで <%= @email %> に送ることができます
      </li>
      <li>
	メールで送らない場合は謎ファイル(<b><code>.enigma</code></b>ファイル)をローカルに保存できます
      </li>
      <li>
	謎ファイルは暗号化されたデータを含むZipファイルです
      </li>
      <li>
	<%= @email %> に送った謎ファイルは <%= @email %> が持っている <b>秘密鍵</b> だけで復号できます
      </li>
      <li>
	公開鍵と秘密鍵のペアは
	<input type='button' id='generatekeys' value='鍵生成ボタン' /> で生成できます
      </li>
      <li>
	<a href="<%= @email %>.ink">公開鍵</a> は <a href="/">Enigmize.com</a> に登録され、
	秘密鍵ファイルはローカルマシンにセーブします
      </li>
      <li>
	謎ファイルをこのページに Drag&amp;Drop してから秘密鍵を指定すると
	もとのファイルを得ることができます
      </li>
      <li>
	<b>秘密鍵の生成、ファイルの暗号化や復号はすべてブラウザ内で行なわれ、
	秘密情報がサーバに送られることはありません。</b>
      </li>
    </ul>

    <script type="text/javascript">
      const email = "<%= @name %>@<%= @domain %>";
    </script>
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
    
  </body>
</html>

