<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/enigmize.css" />
    <title>Enigmize</title>
  </head>
  
  <body>
    
    <h1><a href="/">Enigmize™</a> &nbsp; <%= @email %> との秘密通信</h1>
    
    <ul>
      <li>
	<b>このページを使って <span class="email"><%= @email %></span> に安全にファイルを送ることができます</b>
      </li>
      <li><a href="/<%= @email %>.enigmizer" download="<%= @email %>.enigmizer"><span class="email"><%= @email %></span>の公開鍵</a>
	<span id='key_timestamp'><%= @timestamp == '' ? '' : "(#{@timestamp})" %></span>
      </li>
      <pre id="publickey">
      </pre>
      <!-- MAIL VERSION -->
      <!--
      <li>
	このページにファイルをDrag&amp;Dropすると
	<span class="email"><%= @email %></span> の<b>公開鍵</b> (enigmizer)で暗号化されて
	「<span class="code">ファイル名.enigma</span>」という名前の <b>謎ファイル</b> が生成され、
	メールで <span class="email"><%= @email %></span> に送ることができます
      </li>
      <li>
	メールで送らない場合は謎ファイルをローカルに保存できます
      </li>
      -->
      <li>
	このページにファイルをDrag&amp;Dropすると
	<span class="email"><%= @email %></span> の<b>公開鍵</b> (enigmizer)で暗号化されて
	「<span class="code">ファイル名.enigma</span>」という名前の <b>謎ファイル</b> が生成され、
	ローカルに保存できます。
      </li>
      <li>
	謎ファイルは暗号化されたデータを含むZipファイルです
      </li>
    </ul>
    <ul>
      <li>
	<span class="email"><%= @email %></span> に送った謎ファイルは <span class="email"><%= @email %></span> が持っている
	<b>秘密鍵</b> (denigmizer)だけで復号できます
      </li>
      <li>
	受け取った謎ファイルをこのページに Drag&amp;Drop してから
	秘密鍵<%= @timestamp == '' ? '' :  " (#{@timestamp}.denigmizer) " %>を指定するともとのファイルを復元することができます
      </li>
      <li>
	<!-- MAIL VERSION -->
	<!--
	<input type='button' id='sendcode' value='鍵生成コードをメールで <%= @email %> に送付' /> し、 
	受け取ったコード <input type='text' id='code' placeholder='123456' /> を入力して
	<input type='button' id='generatekeys' value='鍵生成' /> ボタンを押すと公開鍵と秘密鍵のペアを生成できます
	-->
	<input type='button' id='generatekeys' value='鍵生成ボタン' /> を押すと公開鍵と秘密鍵のペアを生成できます
      </li>
      <li>
	<!-- <%= @email %>の	<a href="<%= @email %>.ink">公開鍵</a> -->
	<!-- <input type='button' href="/<%= @email %>.ink" download="<%= @email %>.enigmizer" value="<%= @email %>の公開鍵"> -->
	<!-- <a href="/<%= @email %>.ink" download="<%= @email %>.enigmizer"> -->
	    <span class="email"><%= @email %></span> の公開鍵は <a href="/">Enigmize.com</a> に登録され、
	秘密鍵ファイルは <span class="email"><%= @email %></span> がローカルに保存します
      </li>
    </ul>
    <ul>
      <li>
	<b>秘密鍵の生成、ファイルの暗号化や復号はすべてブラウザ内で行なわれ、
	秘密情報がサーバに送られることはありません</b>
      </li>
    </ul>

    <script type="text/javascript">
      const email = "<%= @name %>@<%= @domain %>";
      const key_timestamp = "<%= @timestamp == '' ? '' : @timestamp %>";
    </script>
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
    
  </body>
</html>

