<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/enigmize.css" />
    <title>Enigmize</title>
  </head>
  
  <body style="background-color:#f3f3f3;">
    
    <h1><a href="/">Enigmize</a> - <%= @email %> との暗号化通信</h1>

    <ul id="initial_description" style="display:none;">
      <li>
	このページを使って <span class="email"><%= @email %></span> に安全にデータを送ることができます
      </li>
      <li>
	公開鍵暗号アルゴリズムを利用するので、 <span class="email"><%= @email %></span> は自分の公開鍵と秘密鍵を登録しておく必要があります
      </li>
    </ul>
    <textarea id="dropbox" placeholder="* 暗号化して <%= @email %> に送りたいファイルをここに Drag & Drop すると、<%= @email %> の公開鍵で暗号化された enigmaファイル (暗号化されたファイル) が生成され、メールなどで <%= @email %> に送ることができます

* ここにテキストを書いてShift+Enterキーを押すと、暗号化されたテキスト (enigmaファイル) が <%= @email %> に送られます

* enigmaファイルは <%= @email %> が持っている秘密鍵 (denigmizerファイル) でしか復元できません

* <%= @email %> が enigmaファイル をここに Drag & Drop して秘密鍵を指定するとデータを復元できます"
        style="margin:0 0 0 30px;width:60%;height:240;background-color:#fff;border:inset;display:none;"></textarea>
    
    <div id="dropboxxxx" style="margin:0 0 0 30px;width:60%;height:240;background-color:#fff;border:inset;display:none;">
      <ul style="margin:0; padding:5 20 0 25;">
	<li style="margin:0; padding:0;">
	  暗号化して
	  <span class="email"><%= @email %></span> に送りたいファイルをここに Drag &amp; Drop すると、
	  <a href="<%= @email %>.ink"><span class="email"><%= @email %></span> の公開鍵</a> で暗号化された
	  <b>enigmaファイル</b> (暗号化されたファイル) が生成されます
	</li>
      </ul>
      <ul style="margin:0; padding:10 20 0 25;">
	<li>
	  enigmaファイルは <span class="email"><%= @email %></span> が持っている秘密鍵でしか復元できません
	</li>
      </ul>
      <ul style="margin:0; padding:10 20 0 25;">
	<li>
	  <span class="email"><%= @email %></span> が enigmaファイル をここに Drag &amp; Drop して秘密鍵を指定するとデータを復元できます
	</li>
      </ul>
    </div>

    <blockquote>
      <span class="button" id="show_description" style="display:none;">詳細解説</span>
      <span class="button" id="generate_keys" style="display:none;">&nbsp; 鍵の作成/登録</span>
    </blockquote>

    <ul id='generate_keys_after_mail' style="display:none;">
      <li>
	<input type='button' id='sendcode' value='鍵生成コードをメールで <%= @email %> に送付' /> し、 
	受け取ったコード <input type='text' id='code' placeholder='e.g. 123456' style="width:8em" /> を入力して
	<input type='button' id='generatekeys_after_mail' value='鍵生成ボタン' /> を押すと新しい暗号化鍵と復号鍵のペアを生成できます。
      </li>
      <li>
	鍵を登録した後、このページをリロードしてください。
      </li>
    </ul>


    <div id="description" style="display:none;">
      <ul>
	<li>
	  <b>Enigmize</b> は、
	  <a href="https://ja.wikipedia.org/wiki/%E5%85%AC%E9%96%8B%E9%8D%B5%E6%9A%97%E5%8F%B7">公開鍵暗号アルゴリズム</a>
	  を利用して誰でも簡単に安全なデータ交換ができるサービスです。
	</li>
	<li>
	  メールアドレスを利用しますがアカウント登録やログインは不要です。
	</li>
	<li>
	  <a href="/"><span class="email">https://Enigmize.com/</span></a> の後にメールアドレスを追加した <b>Enigmizeページ</b> を使います
	</li>
	<li>
	  たとえばメールアドレスが <span class="email"><i>masui@pitecan.com</i></span> の場合、
	  <a href="/masui@pitecan.com"><span class="email">https://Enigmize.com/masui@pitecan.com</span></a> というEnigmizeページを使います。
	</li>
	<li>
	  Enigmizeページで
	  <b>公開鍵</b> (暗号化に使う鍵: <span class="code">日付.enigmizer</span>)と
	  <b>秘密鍵</b> (復号に使う鍵: <span class="code">日付.denigmizer</span>)
	  を生成して利用します。
	</li>
	<li>
	  暗号化に使う公開鍵は <a href="/">Enigmize.com</a> に保存され、復号に使う秘密鍵はユーザがローカルに保存します
	</li>
	<li>
	  あるファイルを暗号化して <span class="email">masui@pitecan.com</span> に送りたいとき、
	  Enigmizeページにファイルを Drag &amp; Drop して暗号化された<b>謎ファイル</b>(<span class="code">ファイル名.enigma</span>)を生成して
	  <span class="email">masui@pitecan.com</span> に送ることができます。
	</li>
	<li>
	  暗号化された謎ファイルは復号のための秘密鍵が無いと読むことができません。
	</li>
	<li>
	  謎ファイルを受け取った <span class="email">masui@pitecan.com</span> は、
	  Enigmizeページに謎ファイルを Drag &amp; Drop し、自分の秘密鍵を指定することによって秘密情報を復号できます。
	</li>
      </ul>

      <ul>
	<li>
	  このように、<b>Enigmizeページを使うだけで誰でも簡単に安全に暗号化や復号ができます</b>。
	</li>
	<li>
	  <i><b>暗号化のための公開鍵はサーバに登録されますが、
	      暗号化/復号計算や復号鍵はパソコン内(ブラウザ内)だけで処理されます。</b></i>
	</li>
	<li>
	  ブラウザからサーバに送られる情報は以下のものだけで、秘密情報がサーバに送られることはありません。
	</li>
	<ul>
	  <li>
	    ブラウザで生成した公開鍵をサーバに登録
	  </li>
	  <li>
	    ブラウザで暗号化した謎ファイルのメール送付をサーバに依頼 (この機能はなくすかも)
	  </li>
	  <li>
	    鍵作成のための認証コード生成をサーバに依頼
	  </li>
	</ul>
      </ul>
      
      <ul>
	<li>
	  <a href="https://github.com/masui/Enigmize">ソース@GitHub</a>
	</li>
	<li>
	  <a href="https://scrapbox.io/Enigmize/Isuues">Issues</a>
	</li>
	<li>
	  <a href="https://scrapbox.io/Enigmize/">議論@Scrapbox</a>
	</li>
      </ul>
    </div>
    
    <script type="text/javascript">
      const email = "<%= @name %>@<%= @domain %>";
      const key_timestamp = "<%= @timestamp == '' ? '' : @timestamp %>";
    </script>
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
    
  </body>
</html>

